<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Codes by Quackit.com -->
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
        width: 100%;
      }
      h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
      }
      .box {
        background-color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        padding: 5px 35px;
        margin-left: 25%;
      }
      .messege {
        width: 100%;
        padding-top: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Quotation sent for review</h2>
      <div class="messege">
        <p></p>
        <p>Dear</p>
        <p></p>
        <p>
          I hope this message finds you well. I wanted to inform you that we
          have prepared a new quote for your review. We have made some
          adjustments according to the latest customer specifications and market
          conditions.
        </p>
        <p></p>
        <p>
          Please take a moment to review the attached quote and make sure it
          meets the customer's make sure it meets the customer's expectations.
          If there are any changes or adjustments you need to make, feel free to
          let me know so we can update it as needed. so we can update it as
          needed.
        </p>
        <p></p>
        <p>
          We appreciate receiving your attention and your prompt response. If
          you have any questions or need more information, please do not
          hesitate to contact me.
        </p>
        <p></p>
        <p>Greetings.</p>
      </div>
    </div>
  </body>
</html>
