<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
        width: 100%;
      }
      h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
      }
      .box {
        background-color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        padding: 5px 35px;
        margin-left: 25%;
      }
      .messege {
        width: 100%;
        padding-top: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
      .guideNumber {
        width: 30%;
        height: 1fr;
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Orden</h2>
      <div class="messege">
        <p></p>
        <p>
          Hello! We're excited to share with you an update on the shipping
          status of your vessel for Orica!
        </p>
        <p></p>
        <p style="white-space: nowrap">Bill of Lading number: <%= link %></p>
        <p></p>
        <p>
          We're pleased to inform you that the shipping process is underway and
          everything is progressing smoothly. Our team is working diligently to
          ensure that your vessel reaches its destination safely and on time.
        </p>
        <p></p>
        <p>
          We want to assure you that we're closely monitoring every stage of the
          process to ensure a successful delivery. Our commitment to excellence
          and efficiency means you can rely on us to provide you with accurate
          and timely updates every step of the way.
        </p>
        <p></p>
        <p>
          If you have any questions or concerns, please don't hesitate to
          contact our customer service team. We're here to assist you anytime.
        </p>
        <p></p>
        <p>
          Thank you for trusting us with your shipping needs! We hope this
          notification provides you with peace of mind and confidence in the
          process.
        </p>
        <p></p>
        <a href="https://orica.ingeniososweb.com/Customer/shipping">
          <button>Search your ship</button>
        </a>
        <p></p>

        <p></p>
        <p>Best regards,</p>
      </div>
    </div>
  </body>
</html>
