<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Codes by Quackit.com -->
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
        width: 100%;
      }
      h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
      }
      .box {
        background-color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        padding: 5px 35px;
        margin-left: 25%;
      }
      .messege {
        width: 100%;
        padding-top: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Create Quote</h2>
      <div class="messege">
        <p></p>
        <p>
          Good news! 🎉 Congratulations, the proforma of your order has been
          created successfully, review it carefully and do not hesitate to
          contact us for any questions.
        </p>
        <p></p>
        <a href="https://orica.ingeniososweb.com/Customer/proforma/">
          <button>See proforma</button>
        </a>
        <p></p>
        <p>
          We are here for any questions or adjustments you may need, thank you
          for considering us for your project. for considering us for your
          project! 💼🌟
        </p>
      </div>
    </div>
  </body>
</html>
