<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Codes by Quackit.com -->
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
        width: 100%;
      }
      h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
      }
      .box {
        background-color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        padding: 5px 35px;
        margin-left: 25%;
      }
      .messege {
        width: 100%;
        padding-top: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Request send</h2>
      <div class="messege">
        <p></p>
        <p>Hello Laura!</p>
        <p></p>
        <p>
          We are happy to inform you that we have received your application and
          a case has been a case has been created for you with the number
          #48205. We are here to help you help you with whatever you need.
        </p>
        <p></p>
        <p>
          Our technical support team is already working on your case and will
          contact you shortly. will contact you shortly. In the meantime, if you
          have any additional questions or information you would like to add, do
          not hesitate to reply to this reply to this message.
        </p>
        <p></p>
        <p>
          We appreciate your confidence in us and are committed to providing you
          with the best possible assistance.
        </p>
        <p></p>
        <p>Have a great day!</p>
        <p></p>
        <p>Sincerely, Orica</p>
      </div>
    </div>
  </body>
</html>
