<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Codes by Quackit.com -->
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
        width: 100%;
      }
      h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
      }
      .box {
        background-color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        padding: 5px 35px;
        margin-left: 25%;
      }
      .messege {
        width: 100%;
        padding-top: 5px;
      }
      p {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <h2>Quotation sent for review</h2>
      <div class="messege">
        <p></p>
        <p>
          Exciting news! 🎉 We have processed your quotation and are pleased to
          pleased to inform you only remains for you to approve it. 🚀✅
        </p>
        <p></p>
        <p>
          To follow up and access the details, simply click on the following
          button the following button
        </p>
        <p></p>
        <a href="https://orica.ingeniososweb.com/Customer/approval/">
          <button>view quotation</button>
        </a>
        <p></p>
        <p>
          We are excited to move forward with you on this project - thank you
          for choosing us! 💼🌟
        </p>
      </div>
    </div>
  </body>
</html>
